@media screen and (max-device-width: 1024px) {
    .content  {
        padding: 40px 20px;
    }
    .wrap {
        width: 100%;
    }
}
@media screen and (max-device-width: 600px) {
    #menu > * {
        margin: 10px;
    }
}