@media only screen and (max-device-width: 1024px) {
    .content  {
        padding: 40px 20px;
    }
    .wrap {
        width: 100%;
    }
}
@media only screen and (max-device-width: 600px) {
    .content {
        padding:40px  0;
    }
    #menu > * {
        margin: 10px;
    }
}
@media only screen and (max-device-width: 500px) {
    #menu {
        padding: 0;
    }
    .wrap {
        flex-direction: column;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }
}