{% extends 'base.html' %}
{% block title %}
    Добавить новость
{% endblock %}
{% block body %}
    <div class="info_content">
        <h1 class="title">Добавить новость</h1>
        {% if perms.news.add_news %}
            <form method="POST" action="{% url 'news:save_news' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ add_news }}
                <input class="btn" type="submit" value="Запостить">
            </form>
        {% endif %}
    </div>
{% endblock %}