{% extends 'base.html' %}
{% block title %}
    {% if news_item %}
        {{ news_item.title }}
    {% endif %}
{% endblock %}
{% block body %}
    {% if news_item %}
        <div class="news_item">
        <img src="media/{{ news_item.image }}">
        <div class="info_item">
        <div class="info">
            <div class="date">{{ news_item.date }}</div>
            <div class="views">{{ news_item.views }}</div>
        </div>
        <h1 class="title">{{ news_item.title }}</h1>
        <p class="text">{{ news_item.text }}</p>
        <span>Автор: <a class="link"
                        href="{% url 'news:user' news_item.author.id %}">{{ news_item.author.username }}</a></span>

        {% if user.is_authenticated and perms.news.add_comments %}
            <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Готово" class="btn">
        {% else %}
            <br>Вы не можете добавлять комментарии
        {% endif %}
    <h4>Комментарии:</h4>
    {% for comment_item in news_item.comments.all reversed %}
        <div class="comment">
            <img src="http://latropblog.herokuapp.com/media/{{ comment_item.user.extended.avatar }}"
                 alt="{{ comment_item.user.username }}">
            <div class="comment_info">
                <a class="link" href="{% url 'news:user' comment_item.user.id %}">{{ comment_item.user.username }}</a>
                <p> {{ comment_item.text }}</p>
                <div class="perms">
                    <span class="date">{{ comment_item.date }}</span>
                    {% if perms.news.delete_comments and not comment_item.user.is_superuser or user.is_superuser %}
                        <a href="{% url  'news:del_comment' news_item.id comment_item.id %}">Удалить
                            комментарий</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </form>
    {% endif %}
</div>
</div>
{% endblock %}