{% extends 'base.html' %}
{% block title %}
    Профиль
{% endblock %}
{% block body %}
    <div class="info_content">
        <h1 class="title">Профиль</h1>
        <div class="profile_wrap">
            <div class="avatar">
                <img src="http://latropblog.herokuapp.com/media/{{ user.extended.avatar }}" alt="{{ user.username }}">
                <form method="POST" enctype="multipart/form-data" action="{% url 'news:change_avatar' %}">
                    {% csrf_token %}
                    {{ avatar }}
                    <input type="submit" value="Загрузить" class="btn">
                </form>
            </div>
            <div class="profile_info">
                <span>Id: {{ user.id }}</span>
                <span>Логин: {{ user.username }}</span>
                <span>E-mail: {{ user.email }}</span>
                <span>Дата регистрации: {{ user.date_joined }}</span>
                {% for i in group %}
                    {{ i.name }}
                {% endfor %}
                {% if perms.news.add_news %}
                    <a class="btn" href="{% url 'news:add_news' %}">Добавить новость</a>
                {% endif %}
            </div>
        </div>
        <h2 class="title">Смена пароля</h2>
        <hr>
        <form class="edit_pass" method="POST" action="{% url 'news:change_password' %}">
            {% csrf_token %}
            {{ edit_password }}
            <input type="submit" value="Изменить" class="btn">
        </form>
    </div>
{% endblock %}