{% extends 'base.html' %}
{% block title %}
    Пользователь {{ usr.username }}
{% endblock %}
{% block body %}
    <div class="info_content">
        <h1 class="title">Профиль</h1>
        <div class="profile_wrap">
            {% if user.is_authenticated and usr %}
                <div class="avatar">
                    <img src="https://latropblog.herokuapp.com/media/{{ usr.extended.avatar }}" alt="{{ usr.username }}">
                </div>
                <div class="profile_info">
                    <span>Id: {{ usr.id }}</span>
                    <span>Login: {{ usr.username }}</span>
                    <span>Дата регистрации: {{ user.date_joined }}</span>
                    <span>Group:
                        {% if usr.is_superuser %}
                            Админ
                        {% endif %}
                        {% for i in group %}
                            {{ i }}
                        {% endfor %}
                    </span>
                </div>
                </div>
                <div class="perms">
                    {% if not usr.id == user.id  and not usr.is_superuser %}
                        {% if perms.auth.mute and perms.auth.unmute %}
                            {% if u %}
                                <a href="{% url 'news:mute' usr.id %}">Замутить пользователя</a><br>
                            {% else %}
                                <a href="{% url 'news:unmute' usr.id %}">Размутить пользователя</a><br>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if user.is_superuser and user.id != usr.id %}
                            {% if editor %}
                                <a href="{% url 'news:del_editor' usr.id %}">Забрать права редактора</a><br>
                            {% else %}
                                <a href="{% url 'news:add_editor' usr.id %}">Сделать редактором</a><br>
                            {% endif %}
                            {% if moderator %}
                                <a href="{% url 'news:del_moderator' usr.id %}">Забрать права модератора</a><br>
                            {% else %}
                                <a href="{% url 'news:add_moderator' usr.id %}">Сделать модератором</a><br>
                            {% endif %}
                    {% endif %}
                </div>
                </div>
            {% endif %}
{% endblock %}